@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,800;1,400&display=swap");


span{
  display: block;
}
.wrap{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  margin:40px 50px 0px 50px;
  column-gap: 100px;
}
.left{
  margin: 0 10px 0 100px ;
  width: 436px;
  height: 555px;
  border-radius: 5px;
}
.left img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.right{
  margin: 0 20px 20px 20px ;
}
.text_top{
  margin-top: 60px;
}
.toppings{
  margin-left:50px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 580px;
  height: 280px;
  overflow: scroll;
}
.topping{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  width: 141px;
  height: 137px;
  text-align: center;

}
.toppings::-webkit-scrollbar{
  display: none;
}

.topping>img{
  width: 80px;
  width: 80px;
  border-radius: 50%;
}


.price{
  display: flex;
  justify-content: space-between;
}

.btn_grp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 97%;
  background-color:#BD0707 ;
  border-radius: 5px;
  border: none;
}

.price{
  margin-top: 30px;
}
.check{
  position: absolute;
  width: 30px !important;
  margin-top: -50px;
  margin-left: 30px;
}

.imageTopping{
  border-radius: 50%;
  width: 80px;
  height: 75px;
}


.checkContainer {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  display: none;
  position: absolute;
  height: 30px;
  width: 30px;
  margin-left: 50px;
}


/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  display: block;
}



/* font */
*{
  font-family: "Nunito", sa ns-serif;
}
.text_top>p{
  font-size: 27px;
  font-weight: 500;
  color: #974A4A;
}
.price>p{
  color:#974A4A;
  font-size: 20px;
}
.titleProduct{
  font-size: 50px;
  font-weight: 700;
  color: #BD0707;
}
.priceBrown{
   font-size: 30px;
   font-weight: 700;
   color: #974A4A;
}
.topping>p{
  color: #BD0707;
  /* font-size: 15px; */
}
.price>p{
  font-size: 30px;
  font-weight: 700;
}
.btn{
  font-size: 23px;
  padding: 5px 0 5px 0;
  font-weight: 700;
  color: white;
}