@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

:root {
    --red-main: #bd0707;
    --red-variant-1: #f13f3f;
    --red-variant-2: #f6dada;
    --red-variant-3: #e0c8c8;
    --red-variant-4: #974a4a;
    --white: #fff;
    --black: #000;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: "#fffbfb";
    font-family: "Montserrat", sans-serif;
}

.color-red {
    color: var(--red-main);
}
.bg-red {
    background: var(--red-main);
}

.btn-navbar {
    padding: 7px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.btn-form {
    padding: 13px 0;

    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}

.btn-white {
    outline: var(--red-main);
}

.btn-white:hover {
    background: var(--red-main);
}

.btn-main {
    background: var(--red-main);
}

.btn-main:hover {
    background: var(--white);
    color: var(--red-main);
    outline: var(--red-main);
}

.cursor-pointer {
    cursor: pointer;
}